.logo {
    width: 30%;
    margin-right: 15px;
  }
  
  .nav-theme {
    background-color: #1010181f;
    font-size: 25px;
  }
  
  .animate-navbar {
    box-shadow: 1px 1px 1px #222;
    animation: moveDown 0.5s ease-in-out;
  }
  
  @keyframes moveDown {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0rem);
    }
  }
  